<p id="notice"><%= notice %></p>

<h1>Input Variable Values</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Variable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @input_variable_values.each do |input_variable_value| %>
      <tr>
        <td><%= input_variable_value.value %></td>
        <td><%= input_variable_value.variable %></td>
        <td><%= link_to 'Show', input_variable_value %></td>
        <td><%= link_to 'Edit', edit_input_variable_value_path(input_variable_value) %></td>
        <td><%= link_to 'Destroy', input_variable_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Input Variable Value', new_input_variable_value_path %>
