
<div class="admin_wrapper">
  <div class="panel">
    <div class="panel_title_wrapper">
      <h2 class="panel_title">Panel</h2>
    </div>
    <div class="panel_items">
      <div class="panel_item"><%= link_to "Users", users_path %></div>
      <div class="panel_item"><%= link_to "Communities", communities_path %> </div>
      <div class="panel_item"><%= link_to "Roles", roles_path %> </div>
      <div class="panel_item"><%= link_to "Disciplines", disciplines_path %> </div>
      <div class="panel_item"><%= link_to "Test test", start_test_path %></div>
    </div>
  </div>
  <div class="widgets_wrapper">
    <div class="widgets_title_wrapper">
      <h2 class="widgets_title">There are no widgets for now</h2>
    </div>
  </div>
</div>
