
<div class="admin_wrapper">
  <div class="panel">
    <div class="panel_title_wrapper">
      <h2 class="panel_title">Меню</h2>
    </div>
    <div class="panel_items">
      <div class="panel_item"><%= link_to "Пользователи", users_path %></div>
      <div class="panel_item"><%= link_to "Сообщества", communities_path %> </div>
      <div class="panel_item"><%= link_to "Права", roles_path %> </div>
      <div class="panel_item"><%= link_to "Дисциплины", disciplines_path %> </div>
      <div class="panel_item"><%= link_to "Сеанса тестирования", test_sessions_path %> </div>
      <div class="panel_item"><%= link_to "Статистические данные", statistics_show_path %></div>
    </div>
  </div>
  <div class="widgets_wrapper">
    <div class="widgets_title_wrapper">
      <h2 class="widgets_title">Пока что здесь ничего</h2>
    </div>
  </div>
</div>
