<p id="notice"><%= notice %></p>

<h1>Темы дисциплины "<%= @discipline.title %>"</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.title %></td>
        <td><%= link_to 'Алгоритмы', theme_algorithms_path(theme) %></td>
<!--         <td><%= link_to 'Show', theme %></td>
        <td><%= link_to 'Edit', edit_theme_path(theme) %></td> -->
        <td><%= link_to 'Удалить', theme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая тема', new_discipline_theme_url %>
<%= link_to 'Назад', disciplines_path %>
