<h1>Group#show</h1>

<p><%= @group.title %></p>
<p><%= @group.alias %></p>
<p><%= link_to 'Edit', edit_group_path(@group) %></p>

<%= link_to 'Back to groups', groups_path %>
<%= link_to 'Back to communitites', communities_path %>

