<p id="notice"><%= notice %></p>

<h1>Алгоритмы темы "<%= @theme.title %>"</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @algorithms.each do |algorithm| %>
      <tr>
        <td><%= algorithm.title %></td>
        <td><%= link_to 'Настройки алгоритма', algorithm %></td>
        <td><%= link_to 'Удалить', algorithm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый алгоритм', new_theme_algorithm_path %>
<%= link_to 'Назад', discipline_themes_path(@theme.discipline) %>
