<h1>Department#show</h1>

<p><%= @department.title %></p>
<p><%= @department.alias %></p>
<p><%= link_to 'Edit', edit_department_path(@department) %></p>

<%= link_to 'Back to departments', departments_path %>
<%= link_to 'Back to communitites', communities_path %>

