<% matrix_limitation = matrix.get_matrix_limitation %>

<div class="matrix_type step_variable" data-variable-id="<%= matrix.id %>" data-variable-name="<%= matrix.name %>">

  <h4>Name: <%= matrix_limitation[:name] %></h4>
  <h4>Matrix <%= matrix_limitation[:rows] %>x<%= matrix_limitation[:columns] %></h4>
  <p class="cell_characteristics">Min value of cell: <%= matrix_limitation[:min_value] %></p>
  <p class="cell_characteristics">Max value of cell: <%= matrix_limitation[:max_value] %></p>

  <!-- add row numbers-->
  <% matrix_limitation[:rows].times do |row| %>

    <div class="matrix_row">

      <!-- add column numbers -->
      <% matrix_limitation[:columns].times do |column| %>

          <div class="matrix_column">

            <input class="matrix_cell input_cell empty_value" type="text" size="1"
                   data-min-value="<%= matrix_limitation[:min_value] %>"
                   data-max-value="<%= matrix_limitation[:max_value] %>"
                   data-row="<%= row %>"
                   data-column="<%= column %>"
            >

          </div>

      <% end %>

    </div>

  <% end %>

</div>