<div>

  <%= link_to "Вернуться к списку тестов", test_sessions_path %> <br/>

  <%= @algorithm.description %>

  <div class="test_process_wrapper">

    <div class="test_body">

      <div class="variables">
        <h2> Входные данные алгоритма </h2>

        <%= render 'variables', :variables => @algorithm.get_initial_variables %>
      </div>
      <div class="steps_description">
        <%= render 'steps_description', :steps => @algorithm.steps %>
      </div>

    </div>

    <%= render 'steps_buttons', :current_step => current_step, :algorithm_id => @algorithm.id %>

  </div>

</div>