<% string_limitation = string.get_string_limitation %>

<div class="string_type step_variable" data-variable-id="<%= string.id %>" data-variable-name="<%= string.name %>">

  <h4>Имя переменной: <%= string_limitation[:name] %></h4>
  <h4>Строка</h4>
  <p class="cell_characteristics">Минимальная длина: <%= string_limitation[:min_length] %></p>
  <p class="cell_characteristics">Максимальная длина: <%= string_limitation[:max_length] %></p>


  <input class="string_cell input_cell" type="text" size=""<%= string_limitation[:max_length] %>">


</div>