<% vector_limitation = vector.get_vector_limitation%>

<div class="vector_type step_variable" data-variable-id="<%= vector.id %>" data-variable-name="<%= vector.name %>">

  <h4>Имя переменной: <%= vector_limitation[:name] %> (Вектор длины: <%= vector_limitation[:columns] %>)</h4>
  <!-- add row numbers-->
  <% vector_limitation[:rows].times do |row| %>

      <div class="vector_row">

        <!-- add column numbers -->
        <% vector_limitation[:columns].times do |column| %>

            <div class="vector_column">

              <input class="vector_cell input_cell" type="text" size="1" data-row="<%= row %>" data-column="<%= column %>">

            </div>

        <% end %>

      </div>

  <% end %>

</div>