<% if (!test_sessions.empty?) %>
    <table>
      <thead>
      <tr>
        
        <th>Дисциплина</th>

        <th>Преподаватель</th>
        <th>Дата тестирования</th>
        <th>Ограничение по времени</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% test_sessions.each do |test_session| %>
          <tr>
            
            <td><%= Discipline.find(test_session.discipline_id).title %></td>

            <td><%= User.find(test_session.user_id).email %></td>
            <td><%= test_session.test_date %></td>
            <td><%= test_session.time %></td>
            <!--           <td><%= link_to 'Show', test_session %></td>
          <td><%= link_to 'Edit', edit_test_session_path(test_session) %></td> -->
            <% algorithm = test_session.get_algorithm_by_user current_user.id %>
            <% result = test_session.get_result_by_user_id current_user.id %>

            <% if algorithm != nil %>
                <td><%= link_to 'Start test', start_test_path(algorithm_id: algorithm.id) %></td>
            <% end %>
            <% if result != nil %>
                <td> Your last result is <%= result.result %> </td>
            <% end %>
            <td><%= link_to 'Удалить', test_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div>В настоящее время не назначено ни одного сеанса тестирования. Для назначения сеанса тестирования выберите одну из опций снизу.</div>
<% end %>

<br>


<div><%= link_to 'Назначить тестирование', new_test_session_path %></div>
<div><%= link_to 'Назад', dashboard_index_path %></div>