<% if (!test_sessions.empty?) %>
    <table>
      <thead>
      <tr>
      	<th>Дисциплина</th>
        <th>Название алгоритма</th>
        <th>Дата тестирования</th>
        <th>Ограничение по времени</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% test_sessions.each do |test_session| %>
          <tr>

          	<% temp_test = test_session.get_test_by_user_id current_user.id %>
            <% algorithm = Algorithm.find(temp_test.algorithm_id) %>

          	<td><%= Discipline.find(test_session.discipline_id).title %></td>
            <td><%= algorithm.title %></td>
            <td><%= test_session.test_date %></td>
            <td><%= test_session.time %></td>
            

            <% if (test_session.test_date.to_time.to_i >= DateTime.now.beginning_of_day.to_time.to_i) %>

              <% if algorithm != nil %>
                  <td><%= link_to 'Начать тестирование', start_test_path(test_id: temp_test.id) %></td>
              <% end %>
            <% else %>
                <td> Сеанс тестирования для алгоритма:" <%= algorithm.title %>" истёк </td>
            <% end %>
            <% result = test_session.get_result_by_user_id current_user.id %>
            <% if result != nil %>
                <td> Ваш последний результат: <%= result.result %> </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div>Для вас в данный момент не назначено ни одного теста.</div>
<% end %>

<br>

<div><%= link_to 'Назад', dashboard_index_path %></div>