<p id="notice"><%= notice %></p>

<h1>Test Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Test date</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_sessions.each do |test_session| %>
      <tr>
        <td><%= test_session.test_date %></td>
        <td><%= test_session.time %></td>
        <td><%= link_to 'Show', test_session %></td>
        <td><%= link_to 'Edit', edit_test_session_path(test_session) %></td>
        <td><%= link_to 'Destroy', test_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Session', new_test_session_path %>
