<p id="notice"><%= notice %></p>

<h1>Test Sessions</h1>

<% if (@test_sessions.nil?) %>
  <table>
    <thead>
      <tr>
        <th>Test date</th>
        <th>Time</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @test_sessions.each do |test_session| %>
        <tr>
          <td><%= test_session.test_date %></td>
          <td><%= test_session.time %></td>
          <td><%= link_to 'Show', test_session %></td>
          <td><%= link_to 'Edit', edit_test_session_path(test_session) %></td>
          <td><%= link_to 'Destroy', test_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div>В настоящее время не назначено ни одного сеанса тестирования. Для назначения сеанса тестирования выберите одну из опций снизу.</div>
<% end %>

<br>

<div><%= link_to 'Back', dashboard_index_path %></div>
<div><%= link_to 'Назначить простое тестирование', new_test_session_path %></div>
<div><%= link_to 'Назначить тестирование по теме', new_test_session_path %></div>
<div><%= link_to 'Назначить экзаменационное тестирование', new_test_session_path %></div>
