<h1>Назначение сеанса тестирования</h1>
<div>
	<div>
		Тип данного сеанса тестирования простой. Его основное назначение - тестирование группы студентов на одном алгоритме, который они только что изучили.
	</div>
	<form action="#" id="date_time_form">
		<div>Дата проведения тестирования: <input type="date" name="test_date" id="test_date" min="2017-06-14"></div>
		<div>Время, отведённое на тестирование(в минутах): <input type="number" name="test_time" id="test_time"></div>
		<div>Выберите группу студентов: 
			<select name="groups" id="group_select" >
			<% @groups.each do |group|%>
				<option value="<%= group.id %>"><%= group.title %></option>
			<% end %>
			</select>
		</div>
<!-- 		<div>Выберите дисциплину: <select name="disciplines" id="discipline_select" >
			<option disabled selected value> -- select an option -- </option>
			<% @disciplines.each do |discipline|%>
				<option value="<%= discipline.id %>"><%= discipline.title %></option>
			<% end %>
			</select>
		</div> -->
	</form>
</div>



<div>
	Выберите дисциплину:
</div>

<div class="discipline_list">
	<% @disciplines.each do |discipline| %>
		<div class="discipline" id="discipline_<%= discipline.id %>">
			<div class="discipline_name" id="discipline_name_<%= discipline.id %>" data-status="closed"><%= discipline.title %>	</div>
			<div class="theme_list">
				<% if discipline.themes.empty? %>
					<div class="no_elements">Данная дисциплина не содержит тем.</div>
				<% else %>
					<div>
						Список тем:
					</div>
				<% end %>
				<% discipline.themes.each do |theme| %>
					<div class="theme" id="theme_<%= theme.id %>">
						<div class="theme_name" id="theme_name_<%= theme.id %>" data-status="closed"><%= theme.title %>	</div>
						<div class="algorithm_list">
							<% if theme.algorithms.empty? %>
								<div class="no_elements">Данная тема не содержит алгоритмов.</div>
							<% else %>
								<div>
									Список алгоритмов:
								</div>
							<% end %>
							<% theme.algorithms.each do |algorithm| %>
								<div class="algorithm" id="algorithm_<%= algorithm.id %>">
									<div class="algorithm_name" id="algorithm_name_<%= algorithm.id %>" data-status="closed"><%= algorithm.title %></div>
									<div class="algorithm_menu" id="algorithm_menu_<%= algorithm.id %>">
										<%= button_to 'Выбрать алгоритм', test_sessions_add_one_algorithm_path, :data => {:algorithm => algorithm.id}, :method => :get, remote: true %>	
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>




<div class="selected_algorithm" id="algorithm_placeholder">

</div>


<div>
	<button id="submit_test_session">Сохранить сеанс тестирования</button>
	<button id="back"><%= link_to 'Back', test_sessions_path %></button>
</div>