<h1>Назначение сеанса тестирования</h1>
<div>
	<form action="#" id="date_time_form">
		<div>Дата проведения тестирования: <input type="date" name="test_date" id="test_date" min="2017-06-14"></div>
		<div>Время, отведённое на тестирование(в минутах): <input type="number" name="test_time" id="test_time"></div>
<!-- 		<div>Выберите дисциплину: <select name="disciplines" id="discipline_select" >
			<option disabled selected value> -- select an option -- </option>
			<% @disciplines.each do |discipline|%>
				<option value="<%= discipline.id %>"><%= discipline.title %></option>
			<% end %>
			</select>
		</div> -->
	</form>
</div>



<div>
	Выберите алгоритм, чтобы добавить его в тест:
</div>

<div class="algorithms_list">
	<% @algorithms.each do |algorithm| %>
		<div class="algorithm" id="algorithm_<%= algorithm.id %>">
			<div class="algorithm_name" id="algorithm_name_<%= algorithm.id %>" data-status="closed"><%= algorithm.title %>	</div>
			<div class="algorithm_menu" id="algorithm_menu_<%= algorithm.id %>">
				<div>Как будут заданы входные данные алгоритма:</div>
				<div><input name="input_type_<%= algorithm.id %>" type="radio" value="manual" disabled > Ввести вручную</div>
		    	<div><input name="input_type_<%= algorithm.id %>" type="radio" value="generate" checked> Сгенерировать </div>
		    	<div><input name="input_type_<%= algorithm.id %>" type="radio" value="previous" disabled > Подобрать из существующих </div>	
		    	<div>
					<button id="add_new_test_<%= algorithm.id %>">Добавить алгоритм</button>
				</div>	
			</div>
		</div>
	<% end %>
</div>

<div class="tests_list">
		<div>
			Список тестов: 
		</div>
		
</div>


<div>
	<button id="submit_test_session">Сохранить сеанс тестирования</button>
	<button id="back"><%= link_to 'Back', test_sessions_path %></button>
</div>